* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proza Libre", sans-serif;
}

h1 {
  font-family: "Exo 2", sans-serif;
}

h2 {
  font-family: "Palanquin", sans-serif;
}
